
.homepagesecond{
    background-color: black;
    height: 83vh;
    color: white;
}

.enjoydiv{
    font-size: 60px;
    font-weight: bold;
    padding-top: 10%;
    margin-left: 12%;
}
.des{
    margin-left: 1%;
    margin-right: 20%;
    line-height: 0.7;
}
.description{
    font-size: 30px;
    font-weight: normal;
   letter-spacing: normal;
   
}


.hrline{
    width: auto;
    height: 9px;
    background-color: rgba(32, 32, 32, 0.808);
    border: 0;
    margin-top: 10%;
    margin-bottom: 0;
}
.videofirst{
    width: 40%;
    margin-left: 0%;
    margin-right: 8%;
    margin-top: 8%;

}

.video-section {
    display: flex;

    flex-direction: row;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Centers items horizontally */
  }

  @media (max-width: 480px) {
    .homepagesecond{
       
        height: 50vh;
        
    }
    
    .enjoydiv {
        font-size: 30px; /* Adjust font size for small screens */
        margin-left: 0; /* Remove left margin */
        padding-top: 3%; /* Adjust top padding */
        text-align: center; /* Center text on small screens */
    }

    .des {
        margin: 0 auto; /* Center content */
        margin-top: 2%; /* Add top margin */
        margin-right: 0;
        text-align: center; /* Center text on small screens */
        line-height: 0.8; /* Increase line height for readability */
    }

    .description {
        font-size: 18px; /* Adjust font size for small screens */
    }

    
    .videofirst {
        width: 90%; /* Make videos full width on small screens */
        margin: 5% 0; /* Adjust margins */
    }

    .video-section {
        flex-direction: column; /* Stack videos vertically on small screens */
    }
}