<<<<<<< HEAD
.logoheader{
    margin-top: 2%;
    margin-left: 10%;
    width: 11%;
}
.buttonclass{
float: right;
margin-top: 3%;
margin-right: 15%;    
=======
.logoheader{
    margin-top: 2%;
    margin-left: 10%;
    width: 11%;
}
.buttonclass{
float: right;
margin-top: 3%;
margin-right: 15%;    
>>>>>>> 53f3bfd5d1c63a581b40c85deb5410d6f6b5c551
}